<!DOCTYPE html>
<html>

<head>
  <title>Minha página inicial</title>
</head>

<body>
  <h1>Olá!</h1>
  <p>Seja bem-vindo ao seu site com Express + Handlebars.</p>
  <ul>
    {{#each usuarios}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</body>

</html>