<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  {{{body}}} <!-- O conteúdo do arquivo que usa este layout será injetado aqui -->
</body>

</html>