<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  {{> content}} <!-- Aqui será inserido o conteúdo da página -->
</body>

</html>